@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}



html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

body {
    background-color: rgb(247, 130, 5);
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15;
    margin: 0;
    cursor: pointer;
}

.screenHold{
    border: 2px solid rgb(0, 0, 0);
    background-color: red;
    padding: 22em 22em 24em 0em;
    width: 100%;
    margin: 0;
}

#scoreHold{
    border: 2px solid rgb(225, 29, 29);
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-left: 50%;
    position: absolute;
    top: 0;
    color: white;
    font-size: 17px;
    font-weight: bolder
    ;
}

.scoreUser{
    display: flex;
    gap: 200px;
    margin-left: 0;
    position: relative;
    right: 14em;
    padding-left: 5em;
    padding-right: 5em;
    width: fit-content;
}

#powerUP{
    background-color: rgb(48, 159, 48);
    width: 15em;
    position: absolute;
    top: 102px;
    left: 2px;
    padding-bottom: 35em;
}

img {
    width: 145px;
    height: 145px;
    border-radius: 20px;
    position: relative;
    right: 6px;
    top: 1px;
}



#power1, #power2, #power3{
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 35px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.tooltip{
    visibility: hidden;
    opacity: 0; 
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}



#power1:hover .tooltip, 
#power2:hover .tooltip, 
#power3:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.wrong{
    width: 75%;
    height: 15%;
    position: absolute;
    left: 1.2em;
    z-index: 5;
    opacity: 90%;
    cursor: not-allowed;
}

#wrong2{
    top: 12.5em;
}

#wrong3{
    top: 24.5em;
}

.bomb{
    width: 96em;
    height: 96em;
    z-index: 90;
    top: -31.5em;
    left: -0.3em;
    position: absolute;
}

#mainContent{
    background-color: blue;
    position: absolute;
    left: 15.1em;
    top: 6.7em;
    width: 100%;
    height: 100%;
}

#rock, #paper, #scissor{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.game{
    position: relative;
    right: 5px;
    border-radius: 50%;
    width: 145px;
    height: 143px;
}

.reset {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    border: 2px solid white;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    overflow: hidden;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.reset:hover {
    background-color: #555;
    transform: scale(1.1);
}

.resetImg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    position: static; 
}

.reset:active {
    transform: scale(0.92); 
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #222; 
    transition: transform 0.1s ease;
}

.choice{
    position: relative;
    left: 130px;
    top: 15px;
    border-radius: 50%;
    width: 180px;
    border: 2px solid black;
    height: 180px;
}

.computerChoice{
    position: relative;
    left: 130px;
    top: 15px;
    border-radius: 50%;
    width: 180px;
    border: 2px solid black;
    height: 180px;
}

.displayHidden{
    display: none;
}

#rock:hover img, #scissor:hover img, #paper:hover img{
    transform: scale(1.03);
}

#rock:active img, #scissor:active img, #paper:active img{
    
    transform: scale(0.90);
    box-shadow: 5px 5px 2px 1px rgb(6, 6, 6);
}

#boxContain{
    background-color: darkorange;
    position: absolute;
    top: 1px;
    left: 15em;
    width: 57%;
    height: 85%;
    overflow: hidden;
}

.annouced{
    width: fit-content;
    font-size: 26px;
    position: absolute;
    color: white;
    transform: rotate(-25deg);
    top: -25px;
    left: -20px;
    font-weight: bold;
    display: none;
    background-color: black;
    border-radius: 5px;
}

.bigVideo{
    display: block;
    width: 38em;
    height: 38em;
    left: 8em;
    position: absolute;
    z-index: 10;
    object-fit: cover;
    border-radius: 50px;
}

.powerUpVideo{
    display: block;
    width: 38em;
    height: 38em;
    left: 8em;
    position: absolute;
    z-index: 11;
    object-fit: cover;
    border-radius: 50px;
}

#userBox{
    background-color: crimson;
    position: relative;
    top: 10px;
    margin: auto;
    height: 35%;
    width: 50%;
    border-radius: 50px;
}

#versus{
    font-size: 50px;
    margin-left: 8em;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
}

#enemyBox{
    background-color: crimson;
    position: relative;
    top: 10px;
    margin: auto;
    height: 35%;
    width: 50%;
    border-radius: 50px;
    z-index: 0;
}

#enemyRock, #enemyPaper, #enemyScissor{
    display: flex;
    position: relative;
    bottom: 32.3em;
    left: 71em;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.gameEnemy{
    position: relative;
    right: 5px;
    border-radius: 50%;
    width: 145px;
    height: 143px;
    cursor: default;
}

.memeVideo{
    position: relative;
    right: 3em;
    display: block;
    margin: auto;
    height: 100%;
    width: 33em;
    border-radius: 50px;
    z-index: 10;
    object-fit: fill;
    display: block;
}

#roundCounter{
    font-size: 70px;
    margin-left: 4.7em;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
}

